@import "./variables";
@import "./mixins";
@import "./reset";
@import "./general";
@import "./blocks/header";
@import "./blocks/baner";
@import "./blocks/benefits";
@import "./blocks/projects";
@import "./blocks/calculator";
@import "./blocks/footer";