.benefits {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  &__wrp {
    width: 33%;

    @include mobile {
      width: 90%;
    }
  }

  &__img {
    @include mobile {
      margin-top: 30px;
      width: 90%;
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #1C1C1C;
  }

  &__text {
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 138.7%;
    text-align: justify;
    color: #1C1C1C;
  }
}