.calculator {
  margin-top: 60px;
  background-image: url("../img/calc.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__wrp {
    min-height: 587px;
  }

  &__baner {
    width: 50%;
    min-height: 587px;
    background-image: url("../img/calk-pict.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include mobile {
      display: none;
    }
  }

  &__wrp {
    display: flex;

    @include mobile {
      min-height: 698px;
    }
  }

  &__wrp-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 50px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;;
    justify-content: center;
    gap: 40px;
    padding-top: 60px;
    width: 50%;

    @include mobile {
      gap: 0px;
      width: 100%;
      align-items: center;
    }
  }

  &__input {
    background: none;
    width: 300px;
    height: 50px;
    border: 1px solid #B6D7E8;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    padding-left: 10px;

    @include mobile {
      margin-top: 10px;
      font-size: 16px;
      width: 90%;
    }
  }

  &__btn {
    margin-top: 50px;
    width: 352px;
    height: 50px;
    background: #B6D7E8;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #1C1C1C;


    @include mobile {
      width: 90%;
    }
  }

  &__wrp-inputs {

    @include mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}