.projects {
  background: #F9F9F9;
  padding-top: 75px;

  &__title {
    position: relative;
    margin-left: 60px;

    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0px;
    }
  }

  &__title:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    left: -30px;
    top:11px;
    background: #B6D7E8;

    @include mobile {
      display: none;
    }
  }

  &__item {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 25% 25% 50%;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item-characters {
    margin-right: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include mobile {
      width: 90%;
      margin-top: 30px;
      margin-bottom: 30px;
      margin-right: 0px;
    }
  }

  &__item-img {
    width: 100%;
  }

  &__characters-gray {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #1C1C1C;
  }

  &__characters-gray>p {
    margin-bottom: 15px;
  }

  &__characters-black>p {
    margin-bottom: 15px;
  }

  &__characters-black {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #1C1C1C;
  }

  &__item-title {
    margin-top: 30px;
    margin-left: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @include mobile {
      margin-top: 0px;
      margin-left: 0px;
    }
  }
}